{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <header>
        <h1 class="text-3xl ">{{ page.title }}</h1>
        <h2 class="text-lg">{{ page.subtitle }}</h2>
    </header>
    <div class="richtext m-4">
        {% if page.body %}
            {% comment %} Add the body field here, use templatetag richtext or safe to convert html from wagtail richtext block{% endcomment %}
            {{ page.body|richtext }}
        {% endif %}
    </div>
    <div class="m-4">
        {% comment %} <hr> Image serve as image object <hr> {% endcomment %}
        {% comment %} <hr> image template tag function returning an image object as a template variable {% endcomment %}
        {% comment %} {% image page.image fill-200x200 as custom_img %} {% endcomment %}
        <hr class="pt-10 pb-1">
        Standard image serve as image object
        {% comment %} add -c100 to end of fill attribute to render on focal point of image {% endcomment %}
        {% image page.image fill-150x150-c100 format-jpeg %}
        {% comment %} different image renditions below {% endcomment %}
        {% comment %} <hr class="p-1"> Different image renditions <hr class="p-1"> {% endcomment %}
        {% comment %} <div class="flex flex-wrap"> {% endcomment %}
        {% comment %} {% image page.image width-400 %} {% endcomment %}
        {% comment %} {% image page.image width-400 format-avif-lossless %} {% endcomment %}
        {% comment %} {% image page.image width-400 format-webp-lossless %} {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <hr> access image attributes {% endcomment %}
        {% comment %} <hr> {{ custom_img.url }} {% endcomment %}
        {% comment %} <hr> width {{ custom_img.width }}  {% endcomment %}
        {% comment %} <hr> height {{ custom_img.height }} {% endcomment %}
        {% comment %} using dynamic image loading - GET request of string in url {% endcomment %}
        {% comment %} image template tag function returning an image object as a template variable {% endcomment %}
        {% comment %} <hr class="p-1"> Image template tag serve as image object <hr class="p-1"> {% endcomment %}
        {% comment %} {% image page.image fill-200x200 as custom_img %} {% endcomment %}
        {% comment %} <img src="{{ custom_img.url }}" alt="image"> {% endcomment %}
        {% comment %} <hr> access image attributes {% endcomment %}
        {% comment %} <hr> {{ custom_img.url }} {% endcomment %}
        {% comment %} <hr> width {{ custom_img.width }}  {% endcomment %}
        {% comment %} <hr> height {{ custom_img.height }} {% endcomment %}
        {% comment %} using dynamic image loading - GET request of string in url {% endcomment %}
        <h3 class="p-1">
            Dynamic image serve view as string using image_url, use if page has lots of images/renditions
        </h3>
        {% comment %} image_url template tage function using dynamic image loading - GET request in url {% endcomment %}
        {% comment %} {% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %} {% endcomment %}
        {% comment %} <hr class="p-1"> as url string:  {% endcomment %}
        {% comment %} {{ custom_img2 }} {% endcomment %}
        {% comment %} <hr class="p-1"> as template variable:   {% endcomment %}
        {% comment %} <img src="{{ custom_img2 }}" alt="awesome-demo-also"> {% endcomment %}
        {% comment %} <hr class="p-1"> Or within img tag directly:  {% endcomment %}
        <img src="{% image_url page.image "fill-150x150" %}"
            height="100"
            width="200"
            alt="awesome-demo">
    </div>
    <div class="m-4">
        {% if page.cta_url or page.cta_external_url %}
            {% if page.cta_url %}
                {% comment %} can access page object default fields .url and .title {% endcomment %}
                <a href="{{ page.cta_url.url }}"
                    class="text-blue-400 font-bold py-2 px-4 rounded">
                    Link to Internal Page if chosen
                </a>
            {% else %}
                <a href="{{ page.cta_external_url }}"
                    class="text-purple-400 font-bold py-2 px-4 rounded">
                    Link to External Page if chosen
                </a>
            {% endif %}
        {% endif %}
        <hr>
        {% comment %} uses function to  {% endcomment %}
        {% if page.get_cta_url %}
            <a href="{{ page.get_cta_url }}"
                class="text-blue-400 font-bold py-2 px-4 rounded">
                Link to either Internal or External Page
            </a>
        {% endif %}
        {% comment %} <h3>Documents</h3>
        {% if page.custom_document %}
            THIS IS THE URL TO DISPLAY DOCUMENT IN BROWSER: {{ page.custom_document.url }}
            <hr>
            AS A DOWNLOADABLE LINK: <a href="{{ page.custom_document.url }}" download><u>Download Me</u></a>
            <hr>
            DOCUMENT TITLE:
            {{ page.custom_document.title }}
            <hr>
            DOCUMENT DESCRIPTION:
            {{ page.custom_document.description }}
        {% endif %} {% endcomment %}
    </div>
{% endblock content %}
